#
# ~/.dmenurc
#

## define the font for dmenu to be used
DMENU_FN="SFNS-9"

## background colour for unselected menu-items
DMENU_NB="#22172D"

## textcolour for unselected menu-items
DMENU_NF="#A6A6A6"

## background colour for selected menu-items
DMENU_SB="#38254A"

## textcolour for selected menu-items
DMENU_SF="#F92672"

## command for the terminal application to be used:
TERMINAL_CMD="termite -e"

## export our variables
DMENU_OPTIONS="-fn $DMENU_FN -nb $DMENU_NB -nf $DMENU_NF -sf $DMENU_SF -sb $DMENU_SB"
