[options]
scroll_on_output = false
scroll_on_keystroke = true
audible_bell = false
mouse_autohide = false
allow_bold = true
dynamic_title = true
urgent_on_bell = true
clickable_url = true
scrollback_lines = 10000
search_wrap = true
cursor_blink = system
cursor_shape = block
filter_unmatched_urls = true
font = Source Code Pro Semibold 10

[colors]

foreground          = #a6a6a6
foreground_bold     = #9a0fb1
cursor              = #f92672
cursor_foreground   = #22172d
background          = rgba(34, 23, 45, 0.95)

# 16 color space

# Black, Gray, Silver, White
color0  = #131033
color8  = #919ad9
color7  = #7984D1
color15 = #f2f3f7

# Red
color1  = #e61f44
color9  = #e61f44

# Green
color2  = #a7da1e
color10 = #a7da1e

# Yellow
color3  = #ffd400
color11 = #ffd400

# Blue
color4  = #1ea8fc
color12 = #1ea8fc

# Purple
color5  = #df85ff
color13 = #df85ff

# Teal
color6  = #A875FF
color14 = #A875FF

# Extra colors
color16 = #cf433e
color17 = #ff2afc
color18 = #3F88AD
color19 = #42c6ff
color20 = #204052
color21 = #546A90